.head {
    width: 1500px;
    height: 100px;
    background: #c3eeee;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    column-gap: 20px;
}

.header {
    width: 1500px;
    height: 150px;
    background: silver;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    column-gap: 20px;
}

.buttom {
    width: 90px;
    height: 40px;
    background: blue;
    display: flex;
    align-self: center;
    margin-top: 55px;
    margin-right: 1100px;
}
.buttom_tush{
    width: 90px;
    height: 40px;
    background: blue;
    display: flex;
    align-self: center;
    margin-top: 55px;
}

.item {
    display: flex;
    align-self: flex-start;
    margin-top: 80px;
}

.introduction {
    width: 1500px;
    height: 400px;
    background: #c3eeee;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 150px;
}

* {
    padding: 0;
    margin: 0;
}
.fatherone {
    width: 1500px;
    height: 500px;
    background: #c3eeee;
    text-align: center;
    border: aqua solid 5px;
    border-radius: 20%;
}

.lor1 {
    padding: 35px;
}
#fatherone{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
}



.cub {
    width: 250px;
    height: 300px;
    background: blue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}

.line {
    width: 150px;
    height: 25px;
    background: rgba(250, 247, 2, 0.94);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: flex-end;
    margin: -40px;




}

.fathertwoo {
    width: 1500px;
    height: 900px;
    background: blue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 30px;
}

.circle {
    width: 400px;
    height: 400px;
    background: #c3eeee;
    border-radius: 50%;
    column-gap: 20px;
}

.border {
    width: 400px;
    height: 550px;
    display: flex;
    align-self: center;
    flex-wrap: wrap;
    border: crimson solid 2px;
    padding-top: 10px;
    margin-right: 15px;
}

.bordero {
    width: 400px;
    height: 550px;
    display: flex;
    align-self: center;
}

.topping {
    width: 1500px;
    height: 1200px;
    background: silver;
    text-align: justify-all;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    column-gap: 40px;
    row-gap: 20px;
}

.h_topping {
    width: 1500px;
    text-align: center;
}

.image {
    width: 400px;
    height: 130px;
    background: blue;
    display: flex;
    justify-content: space-around;
    border-radius: 10%;
}

.frame {
    width: 500px;
    height: 350px;
    display: flex;
    border: aqua solid 2px;
    justify-content: space-around;

}

.frame_bottow {
    width: 500px;
    height: 300px;
    display: flex;
    border: aqua solid 2px;
    box-sizing: border-box;

}

.content_text {
    display: flex;
    align-self: flex-end;

}

.radio {
    display: flex;
    align-self: end;
    margin-bottom: -40px;
}
.floor{
    width: 1500px;
    height: 700px;
    background: silver;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.left_content{
    width: 600px;
    height: 350px;
    background: #0e0e79;
    color: aqua;
    align-items: center;
}
.rignt_content{
    width: 600px;
    height: 350px;
    background: aqua;
    color: blue;
    align-items: center;
}
.buttom_floor{
    width: 50px;
    height: 30px;
    background: brown;
}
.pit{
    width: 1500px;
    height: 100px;
    background: #0e0e79;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
}
.image_pit{
    width: 40px;
    height: 30px;
    display: flex;
    background: azure;
    align-self: center;
}
.pit_border{
    width: 1500px;
    height: 30px;
    background: #0e0e79;
    display: flex;
    justify-content: center;

}
.image_border{
    width: 500px;
    display: flex;
    border-bottom-color: aqua;
    border-bottom-style: solid;
    align-self: center;
    margin-bottom: 30px;
}


